version: 2.1

orbs:
  cfa: continuousauth/npm@1.0.2
  node: electronjs/node@1.0.0

workflows:
  test_and_release:
    # Run the test jobs first, then the release only when all the test jobs are successful
    jobs:
      - node/test:
          executor: node/macos
          name: test-mac-<< matrix.node-version >>
          pre-steps:
            - run: git config --global core.autocrlf input
          test-steps:
            - run: ./test/ci/generate-identity.sh
            - run: yarn build && yarn test
          matrix:
            alias: test-mac
            parameters:
              node-version:
                - 20.5.0
                - 18.17.0
                - 16.20.1
                - 14.21.3
      - cfa/release:
          requires:
            - test-mac
          filters:
            branches:
              only:
                - main
          context: cfa-release
