name: Test

on:
  pull_request:
    branches:
      - main
  schedule:
    - cron: '0 22 * * 3'
  workflow_call:

permissions:
  contents: read

jobs:
  test:
    name: Test
    strategy:
      matrix:
        node-version:
          - '22.12.x'
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Setup Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: "${{ matrix.node-version }}"
          cache: 'yarn'
      - name: Install
        run: yarn install --immutable
      - name: Generate self-signed signing identity
        run: ./spec/ci/generate-identity.sh
      - name: Test
        run: yarn build && yarn test
