name: Test

on:
  pull_request:
    branches:
      - main
  schedule:
    - cron: '0 22 * * 3'
  workflow_call:

permissions:
  contents: read

jobs:
  test:
    name: Test
    strategy:
      matrix:
        node-version:
          - '22.12.x'
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Setup Node.js
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: "${{ matrix.node-version }}"
          cache: 'yarn'
      - name: Install
        run: yarn install --immutable
      - name: Generate self-signed signing identity
        run: ./spec/ci/generate-identity.sh
      - name: Test
        run: yarn build && yarn test
